*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #000;
    font-family: Roboto;
    background: #ECE9E9;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1920px;
    margin: 0px auto; 
    padding: 0px 15px;
    box-sizing: content-box;
}


/* ------------------------------------------------------------------------------ */
._ibg{
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
._background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 250px;
}
.header a {
    color: #000;
}
.header__container {
    display: flex;
    align-items: center;
    max-height: 70px;
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
}
.header_image-link {
    align-items: center;
}
.menu__list {
    display: flex;
    width: 100%;
    flex: 1 1 100%;
}
.header_menu {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.menu__item {
    flex: 1 1 33.3333%;
}
.main_block {
    position: relative;
    margin-bottom: 75px;
}
.main_block-container {
    padding: 320px 0 300px 0;
    position: relative;
    z-index: 2;
}
.main_block-tagline {
    padding-left: 142px;
    padding-right: 100px;
    color: rgba(255, 255, 255, 0.73);
}
.main_block-tagline div {
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
}
.tagline {
    margin-bottom: 107px;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
.choose_tour {
    background: rgba(0, 0, 0, 0.67);
    color: inherit;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;  
    font-family: inherit;
    padding: 28px 54px;
    font-style: italic;
    border-radius: 15px;
    margin: 0 auto;
}

.about_us {
    display: block;
    width: 100%;
    padding: 0 118px;
    align-content: center;
    margin-bottom: 200px;
}
.about_us-text {
    display: block;
    color: inherit;
    width: 100%;
}
.about_us-image1 {
    width: 100%;
    height: 50%;
    padding-bottom: 30px;
}
.about_us h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 65px;
}
.about_us-text p {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}
.about_us-image {
    height: 500px;
    margin: 8% 0 0 10%;
}

.tours {
    display: block;
    padding-bottom: 150px;
}
.tours h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    padding: 0 118px;
    margin-bottom: 75px;
}
.tours_content {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    width: 100%;
    margin: 0 auto;
}
.tours_content-item {
    flex: 1 1 33.33333%;
    text-align: center;
    padding: 0 40px;
    min-width: 420px;
}
.tours_content-item img {
    margin-bottom: 40px;
    width: 100%;
}
.tours_content-item p {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 60px;
}
.footer-line {
    width: 80%;
    margin: 0 auto 50px auto;
    border-bottom: 2px solid #000;
}

.footer {
    height: 300px;
    background: #3A3957;
    
}
.footer_content {
    display: flex;
    color: #fff;
    text-align: center;
    margin: auto;
    height: 100%;
}
.footer_content-item {
    margin: 30px auto auto auto;
    vertical-align: top;
}
.footer_content-item a {
    padding-bottom: 10px;
}
.footer_content-item p {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-top: 20px;
}
.button:hover {
    cursor: pointer;
}

@media (max-width: 750px) {
    ._container {
        padding: 0;
    }
    .main_block {
        margin-bottom: 25px;
    }
    .header_image {
        height: 100px;
        width: 60px;
    }
    .header_menu {
        font-weight: 500;
        font-size: 30px;
        line-height: 59px;
    }
    .main_block-tagline div {
        font-weight: 500;
        font-size: 52px;
        line-height: 84px;
    }
    .choose_tour {
        font-weight: 500;
        font-size: 30px;
        line-height: 70px;  
        padding: 5px 34px;
    }
    .about_us h1 {
        font-size: 45px;
        line-height: 70px;
        padding: 0 30%;
        margin-bottom: 20px;
    }
    .about_us-text p {
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
    }
    .about_us {
        padding: 0;
        margin-bottom: 20px;
    }
    .tours h1 {
        font-size: 45px;
        line-height: 70px;
        padding: 0 30%;
        margin-bottom: 25px;
    }
    .tours_content-item {
        padding: 0;
    }
    .tours_content-item p {
        font-size: 20px;
        line-height: 35px;
        padding-bottom: 30px;
    }
    .tours_content-item img {
        margin-bottom: 10px;
    }
    .main_block-container {
        padding: 170px 0 90px 0;
        position: relative;
        z-index: 2;
    }
}
@media (max-width: 1000px) {
    .footer {
        height: 200px;
    }
    .footer_content {
        margin: auto;
        display: block;
    }
    .footer_content-item img {
        height: 40px;
    }
    .footer_content-item {
        display: flex;
        margin: 3px auto auto auto;
        text-align: left;
    }
    .footer_content-item p {
        font-size: 18px;
        line-height: 35px;
        margin-top: 0px;
        margin-left: 10px;
    }
    .footer_content-item br {
        display: none;
    }
    .main_block-tagline {
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 562px) {
    .menu__list {
        flex-wrap: wrap;
    }
    .menu__item:not(:last-child) {
        flex: 1 1 50%;
        min-width: 100px;
    }
    .menu__item:last-child {
        flex: 1 1 100%;
    }
    .main_block-tagline div {
        font-weight: 500;
        font-size: 32px;
        line-height: 84px;
    }
    .header_menu {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        align-items: center;
        text-align: center;
    }
    .tours_content-item {
        flex: 1 1 100%;
        text-align: center;
        padding: 0;
        min-width: 290px;
    }
}

